<h1>Change Password</h1>

<div class="well">
    <form name="changePasswordForm" novalidate class="css-form">
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <span id="passwordRequired" class="error" ng-show="changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$error.required">
                Please enter a password.
            </span>
            <input id="currentPassword" type="password" name="currentPassword" required ng-model="data.chgPwd.currentPassword" class="form-control" placeholder="Current Password" />
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <span id="newPasswordRequired" class="error" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.required">
                Please enter a new password.
            </span>
            <div id="invalidNewPassword" class="error" ng-show="data.chgPwd.invalidNewPasswordError != ''">{{ data.chgPwd.invalidNewPasswordError }}</div>
            <input id="newPassword" type="password" name="newPassword" required ng-model="data.chgPwd.newPassword" ng-blur="verifyPasswordIsValid()" class="form-control" placeholder="New Password" />
        </div>

        <div class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <span id="weakConfirmPassword" ng-show="changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$error.required" class="error">Invalid new password confirmation.</span>
            <span id="passwordDontMatch" ng-show="changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$error.compareTo" class="error">Password's don't match</span>
            <input id="confirmNewPassword" type="password" name="confirmNewPassword" required ng-model="data.chgPwd.newPasswordConfirm" compare-to="data.chgPwd.newPassword" class="form-control" placeholder="Confirm your New Password" />
        </div>
        <div class="form-group">
            <button id="changePassword" type="submit" ng-click="changePassword(changePasswordForm.$valid)">Save</button>
        </div>
    </form>
</div>
