<h1>
    Reset Password
</h1>

<div class="alert alert-info" ng-show="data.resetPassword.resetPasswordLinkGenerated">
    <h4>A link has been emailed to the email address provided. Please check your email and follow the instuctions to reset your password in the next 15 mins.</h4>
    <p>Didnt recieve an email?</p>
    <ul>
        <li>Check your junk folder</li>
        <li>Verify you typed in the correct email address</li>
        <li>Unblock [our domain]</li>
        <li>Wait a couple minutess and refresh your inbox</li>
    </ul>
</div>
<br />
<br />
<div class="alert alert-success col-lg-6" ng-show="data.resetPassword.resetPasswordLinkGenerated">
      For Demo:  <a href="../Emails/{{ data.resetPassword.emailFileName }}">View Email Containing Reset Password Link</a>
</div>

<div class="well" ng-show="!data.resetPassword.resetPasswordLinkGenerated">
    <form name="ResetPasswordForm" novalidate class="css-form">
        <div class="form-group">
            <label for="usersEmail">Enter the email associated with your Identifix account:</label>
            <input id="usersEmail" type="email" name="usersEmail" ng-model="data.resetPassword.usersEmailAddress" required class="form-control" placeholder="Identifix Email Address" />
        </div>
        <div class="form-group">
            <button id="resetPassword" type="submit" ng-click="resetPassword()">Submit</button>
        </div>
    </form>
</div>
