<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- SQLExpress -->
    <!-- <add name="UserDatabase" providerName="System.Data.SqlClient" connectionString="Server=.\SQLExpress; Database=IdentifixSSO; Integrated Security = true;" /> -->
    
    <!-- Azure -->
    <add name="UserDatabase" providerName="System.Data.SqlClient" connectionString="Server=tcp:idx-lhouse.database.windows.net,1433;Database=idx-identity;User ID=IdentifixSSOUser@idx-lhouse;Password=2005FordMust@ng;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" /> 
    
  </connectionStrings>
  <appSettings>
    <add key="TestExecutionerUIDriver" value="FIREFOX" />
    <add key="Test.IEmosoft.com_BaseURL" value="http://test.Iemosoft.com" />
    <add key="ApplicationIdUnderTest" value="IdentifixSSO" />
    <add key="TestExecutionerScreenCaptureType" value="LOCAL" />
    <add key="TestReportFilePath" value="C:\TestResults\Demos\GeneratedTestCases\" />
    <add key="TestExecutionerAuthor" value="HTML" />
    <add key="FTPUploadURLAndCredentials" value="test.iemosoft.com|ftpUser|P@ssword23!" />
    <add key="SauceLabsKey" value="emomon20:68e0ebd8-dadb-41d9-8929-c00cf25d5cb4" />
    <add key="SauceLabsBrowser" value="Firefox" />
    <add key="SauceLabsPlatform" value="Windows 7" />
    <add key="SecureClientSite" value="https://idx-relyingparty.azurewebsites.net/" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.0" newVersion="10.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>