@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Images/idh_logo.png" />
    <h1>Welcome to Identifix Direct Hit client</h1>
    <p class="lead">This is the 'public' (not authenticated), landing page for Direct Hit</p>
    
</div>

<div class="row brandYellow">
    <div class="col-md-4">
        <h2>Direct Hit Quick Start</h2>
        <p>
            Purchase Direct Hit <a href="#">here</a>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Direct Hit Testimonials</h2>
        <p>"'Direct Hit has been an important tool in operating my shop in Excelsior Mn' - Mike Emo"</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Direct Shop</h2>
        <p>DirectShop is a solution to customer management, estimating and the whole repair workfly.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>